.container-form {
    margin: auto;
    max-width: 500px;
    margin-top: 50px;
}
.form-wrapper {
    background: #fff;
    color: #333;
    padding: 15px 25px;
}
a {
    text-decoration: none;
}
h1,
p {
    text-align: center;
}

.form-group {
    margin-top: 5px;
}

.form-group label {
    display: block;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #666;
    border-radius: 5px;
}

.form-wrapper button {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #49c1a2;
    border: none;
    color: #fff;
    font-size: large;
    border-radius: 5px;
}

.form-wrapper button:hover {
    background-color: #37a08e;
    cursor: pointer;
}

.form-wrapper .bottom-text {
    font-size: smaller;
    text-align: center;
    margin-top: 15px;
}

.password-warning {
    font-size: small;
    color: red;
}
