body {
  background-color: #f4f4f4 !important;
  font-family: "Ubuntu", sans-serif !important;
}

.container {
  max-width: 1500px !important;
}
.navbar-collapse.collapse.in {
  display: block !important;
}

.contact-form {
  margin: auto;
}

.card .favorite-btn,
.card .details-btn {
  border: none;
  background: none;
  outline: none;
}

.card .favorite-icon,
.card i {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.isFavorite {
  color: #d9bd00 !important;
}
